.login-container {
    display: flex;
    height: 100vh;
  }
  
  .login-left {
    flex: 1;
    overflow: hidden;
  }
  
  .login-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .login-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  .login-form {
    width: 100%;
    max-width: 320px;
    text-align: center;
  }
  
  .login-title {
    font-size: 2rem;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 10px;
  }
  
  .login-subtitle {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 20px;
  }
  
  .login-input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .login-label {
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
    color: #495057;
    margin-bottom: 5px;
  }

  .login-label.error {
    color: rgb(229, 57, 57);
  }
  
  .login-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 8px;
  }

.login-input.error {
  border: 1px solid rgb(229, 57, 57);
}
  
  .login-input:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
  }
  
  .login-button {
    width: 85%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .login-register-link {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #6c757d;
  }
  
  .login-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  

  .image-container {
    position: relative;
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto; 
  }
  
  .text-overlay {
    position: absolute;
    top: 20%;
    left: 20%; 
    transform: translate(-50%, -50%) rotate(-12deg);
    color: white; 
    text-align: center; 
    padding: 20px;
    border-radius: 8px; 
  }
  