.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: white;
  color: rgb(255, 157, 82);
  box-shadow: rgba(255, 116, 10, 1) 0px 1px 3px -1px;
  height: 4vh;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-logo {
  height: 25px;
  width: auto;
  cursor: pointer;
}

.navbar-search-form {
  margin-left: 1rem;
}

.users-search {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 0 0.6px #252525;
  outline: none;
  width: 200px;
  transition: box-shadow 0.3s;
}

.users-search:focus {
  box-shadow: 0 0 0 2px #fc6e22;
}

.navbar a {
  color: #252525;
  text-decoration: none;
  padding: 0.1rem 0.7rem;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}

.navbar a.active {
  color: #fc6e22;
  text-decoration: underline;
  transform: scale(1.1);
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

.hamburger-menu {
  position: relative;
  height: 30px;
}

.hamburger-menu input[type="checkbox"] {
  display: none;
}

.hamburger-menu .menu__btn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu .menu__btn span {
  background-color: #fc6e22;
  height: 1.7px;
  width: 28px;
  margin: 4.5px 0px;
}

.hamburger-menu .menu__box {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  list-style: none;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px;
}

.hamburger-menu input[type="checkbox"]:checked ~ .menu__box {
  display: block;
}

.menu__item {
  text-decoration: none;
  color: #fc6e22;
  padding: 0.5rem 0;
  display: block;
  transition: background 0.3s, transform 0.2s;
}

.menu__item:hover {
  background: #f46b45;
  transform: scale(1.05);
}




.notification-bell {
  cursor: pointer;
  font-size: 24px;
  height: 24px;
  width: 30px;
}

.unread-count {
  position: absolute;
  top: 10px;
  right: 60px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 5px;
}

.notification-dropdown {
  position: absolute;
  top: 46px;
  right: 45px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px;
  width: 350px;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: none;
}

.notification-dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.notification-dropdown li {
  padding: 12px 10px;
  color: #252525;
  border-bottom: 1px solid #eee;
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.notification-dropdown li:last-child {
  border-bottom: none;
}

.notification-dropdown li.unread {
  background-color: #f0f8ff; 
  font-weight: bold;
}

.notification-message {
  font-weight: normal;
  width: 100%;
}

.notification-buttons {
  display: flex;
  width: 70px;
  flex-direction: column; 
  gap: 10px;
  margin-top: 8px;
}

.notification-buttons button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: bold;
}

.notification-buttons button.reject {
  background-color: #f44336;
}

.notification-buttons button.edit {
  background-color: #2196f3;
}

.notification-buttons button:hover {
  opacity: 0.9;
}

.notification-empty {
  padding: 15px;
  text-align: center;
  color: #777;
}


