body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%; /* Osigurava da visina bude 100% */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


