body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Zameni 'Roboto' željenim fontom */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
